{{#if ratingForm}}
<h1>New Comment</h1>
<div>
  <form>
    <div class="form-group">
      <label for="comment">Comment</label>
      {{input class="form-control" value=comment id="comment"}}
    </div>

    {{#x-select value=rating default=3}}
      {{#x-option value=1}}1 Stars{{/x-option}}
      {{#x-option value=2}}2 Stars{{/x-option}}
      {{#x-option value=3}}3 Stars{{/x-option}}
      {{#x-option value=4}}4 Stars{{/x-option}}
      {{#x-option value=5}}5 Stars{{/x-option}}
    {{/x-select}}


    <button class="btn btn-success" {{action 'addComment'}}>Add Comment</button>
  </form>
</div>
{{else}}
    <button class="btn btn-primary" {{action 'rateItemForm'}}>Comment &amp; Rate</button>
{{/if}}
