.jumbotron {
  text-align: center;
}
.navbar {
  margin-top: -30px;
}
.mainImage {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 200px;
}
.container {
  padding-bottom: 200px;
}
a:hover {
  text-decoration: none;
}
.links a {
  color: black;
}
.shoppingCartImg {
  height: auto;
  width: auto;
  max-width: 20px;
  max-height: 20px;
}
.shoppingCart {
  position: absolute;
  right: 20px;
}
