{{#each model as |item|}}
  {{item-tile item=item refresh='refresh'}}
{{/each}}

<h1>CART CONTENTS</h1>
<h2>{{display-cart}}</h2>

<h1>CART TOTAL</h1>
<h2>{{cart-total cart.items cart.items.length}}</h2>


{{log cart.items}}
